.box1{
    background-color:rgb(255, 246, 161);
    height: 400px;
  }
  
  .box2{
    background-color:rgb(164, 248, 248);
    height: 400px;
  }
  
  .box3{
    background-color:rgb(255, 183, 150);
    height: 400px;
  }
  .box4{
    background-color:rgb(170, 255, 181);
    height: 400px;
  }